# VSCode files
.vscode
.devcontainer

# Cache
__pycache__/

# Build
build/
doc/examples/

# Sphinx documentation
docs/_build/
sg_execution_times.rst

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/
.venv/

# Others
*.onnx
